
<div>
  <apx-chart
    [series]="speedChart!.series!"
    [chart]="speedChart!.chart!"
    [xaxis]="speedChart!.xaxis!"
    [dataLabels]="speedChart!.dataLabels!"
    [grid]="speedChart!.grid!"
    [stroke]="speedChart!.stroke!"
    [title]="speedChart!.title!"
    [legend]="speedChart!.legend!"
  ></apx-chart>
</div>


<div>
  <apx-chart
    [series]="steerChart!.series!"
    [chart]="steerChart!.chart!"
    [xaxis]="steerChart!.xaxis!"
    [dataLabels]="steerChart!.dataLabels!"
    [grid]="steerChart!.grid!"
    [stroke]="steerChart!.stroke!"
    [title]="steerChart!.title!"
    [legend]="steerChart!.legend!"

  ></apx-chart>
</div>

<div>
  <apx-chart
    [series]="throttleChart!.series!"
    [chart]="throttleChart!.chart!"
    [xaxis]="throttleChart!.xaxis!"
    [dataLabels]="throttleChart!.dataLabels!"
    [grid]="throttleChart!.grid!"
    [stroke]="throttleChart!.stroke!"
    [title]="throttleChart!.title!"
    [legend]="throttleChart!.legend!"
  ></apx-chart>
</div>





<router-outlet />
